/* * {
    outline: 1px solid red;
} */

.expand-18 {
    padding: 18px;
}

.expand-120 {
    padding: 120px !important;
}

.test {
    width: 90%;
    margin: auto;
}

.col-left-right-padding {
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    margin: auto !important;
    padding-left: 70px !important;
}